<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="./index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet/scss" type="text/css" href="../components/custom.scss">
    <title>Document</title>
</head>
<body style="font-family: 'Museo300', sans-serif;  color: #003865;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    
    <nav class="navbar">
        <div class="navbar-container lcontainer">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li>MVJCE</li>
            <li>CSE & ISE</li>
            <li>CONFERENCE</li>
            <li>CONTACT US</li>
          </ul>
          <h1 class="logo"><img src="../assets/mvjlogo.png" height="62px" width="160px"></h1>
        </div>
    </nav>

    <div class="container-sm pt-5 pt-sm-2">        
        <div class="row pt-5 row-cols-lg-2 row-cols-sm-1 d-flex">       
        <div class="col-6 pt-3 ">
            <p class="align-items-center" style="font-family: 'Museo700', sans-serif; font-size: 30px;">
                Fourth International Conference on Innovations in Computing, Automation and Intelligent Information Systems <br/> (ICAIIS-2023)
            </p>
            <p>Department News</p>
        </div>
        <div class="col-6">
            <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
            <div id="slider">
                <figure>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb66jm5hrdEH9LUpaY_O6NHqeATN6sisL6GQ&usqp=CAU" height="350px" width="400px" alt>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpqupBDAN37nC9XcULG0Kjz7YxrsVLBE1-rA&usqp=CAU" height="350px" width="400px" alt>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwPyd0NkT-E83ioIFA7SwWCkrGC0tXkmCI3w&usqp=CAU" height="350px" width="400px" alt>
                </figure>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
    <div class="row pt-5">
        <span class="fs-4 fw-bold"  >About MVJCE</span>
        <p class="mt-3 " style="text-align: justify; text-justify: inter-word; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;Established in 1982, the MVJ College of Engineering, the flagship of Venkatesha Education Society,
            imparts education beyond engineering and management. Situated on a 15-acre campus in Whitefield,
            Bangalore, MVJCE has state-of-the-art infrastructure, creating an environment for progressive learning
            and development. We are permanently affiliated to Visvesvaraya Technological University (VTU), and
            approved by the All India Council for Technical Education (AICTE). MVJCE has on campus learning
            centers in collaboration with companies such as National Instruments & Infosys. Most of our programs
            are accredited by National Board of Accreditation.</p>
    </div>
    <div class="row pt-5">
        <span class="fs-4 fw-bold"  >About Department of CSE & ISE</span>
        <p class="mt-3 " style="text-align: justify; text-justify: inter-word; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;
            The Department of Computer science and Engineering was started in the year 1985. CSE
            department is affliated to VTU, Approved by AICTE and Accredited by NBA. Department has full time
            UG program in Computer Science and Engineering and PG Program in Computer Science and
            Engineering. Department conducts regular interactive workshops, seminars, conferences,intra collegiate
            competitions for technical skill enhancements and many other programs. The department has well
            experienced and highly qualified faculty members, who have specialized in the latest areas of in
            Computer science and Engineering, which includes, Cloud computing, Big data, Machine Learning,
            Artificial Intelligence, Augmented Learning,Under water communication, Semantic learning, Image
            Processing, Wireless Network Security, Computer Networks, and so on. The Department of Information
            Science & Engineering was started in the year 1999. The Information Science & Engineering Department
            at MVJCE endeavours to provide high quality technical education, research and innovation, for students
            and faculty to meet the ever-growing needs of industry and society. The Department emphasizes on
            quality and high standards and provides an all-round personality development with responsibility.
            Through its strong industry links, ties to professional bodies, and state - of the-art laboratory facilities, the
            Department of Information Science & Engineering truly stands tall. The Department is affiliated to
            Visvesvaraya Technological University, Belagavi, approved by AICTE, New Delhi,recognized by UGC
            with 2(f) & 12(B) status, and accredited by NBA and NAAC.</p>

        <span class="fs-4 fw-bold pt-5"  >About Conference</span>
            <p class="mt-3 " style="text-align: justify; text-justify: inter-word;  font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;
                The aim of the National Conference on Innovative Research in Computer Science and
                Information Technology is to bring together the academicians, researchers, scientists, engineers,
                technocrats, students and industry professionals from various institutions, universities, and
                industries to share and discuss the ideas, technologies and research findings. The purpose of
                Conference is to promote research and also to ignite young research oriented and innovative
                brains in the field of</p>
                <ul class="mx-5" style="list-style-type:square; font-size: 20px; ">
                    <li>Machine Learning</li>
                    <li>Big Data</li>
                    <li>IOT</li>
                    <li>Cyber security and Block Chaining</li>
                    <li>Networking</li>
                    <li>Networking</li>
                    <li>Cloud Computing</li>    
                </ul>
            <p class="mt-3 " style="text-align: justify; text-justify: inter-word; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;
                This Conference expands its coverage in the specified areas where expert talks and paper
                presentations will be held to inspire the young researchers and keep them motivated. Thus, the
                main objectives of the Conference are:
            </p>
            <div class="w-auto mx-5 "  style="text-align: justify; text-justify: inter-word; font-size: 20px;">
                <ul class="mx-1">
                    <li>To address the real-world challenges and opportunities faced by today’s IT professionals.</li>
                    <li>To promote high level of interaction among stakeholders in theoretical, experimental and
                        applied concepts in the field of computing.</li>
                    <li>To present the latest research and results of experimental work related to Computer
                        Science and Information Technology.</li>  
                    <li>To endow opportunities for delegates to exchange new ideas and application experiences
                        to explore and share innovative work carried out by individuals.</li>  
                </ul>
        </div>
        <div class="row pt-5">
            <span class="fs-4 fw-bold" >Call for Papers</span>
            <p class="mt-3 " style="text-align: justify; text-justify: inter-word; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp; 
                4th International Conference on Innovations in Computing, Automation and Intelligent
                Information Systems (ICAIIS-2023)<br/><br/>Presentation tracks include Machine Learning, Big Data, IOT, Cyber security and Block
                Chaining, Networking, image Processing from practicing engineers along with industries can
                also be submitted.<br/><br/></p>
                <p><b>Paper Submission to:</b>    <a href="mailto:icaiisconference@gmail.com">icaiisconference@gmail.com</a></p>
        </div>
        <div class="row pt-3"  style="text-align: justify; text-justify: inter-word; font-size: 20px;" >
            <span class="fs-4 fw-bold mt-3"  >CONFERENCE COMMITTEE</span>
            <span class="fs-5 fw-medium mx-3 mt-1"  >CHIEF PATRON</span>
            <span class="fw-medium mt-1 mx-5">Shri M. J. Balachandar, Chairman</span>

            <span class="fs-5 fw-medium mx-3 mt-2" >MVJCE PATRON</span>
            <span class="fw-medium mt-1 mx-5">Dr. P Mahabaleswarappa, Principal, MVJCE</span>
            <span class="fw-medium mt-1 mx-5">Dr. Brindha, Vice Principal, MVJCE</span>
            <span class="fw-medium mt-1 mx-5">Dr. L Antony Raj, COE, MVJCE</span>

            <span class="fs-5 fw-medium mx-3 mt-2"  >CONVENER</span>
            <span class="fw-medium mt-1 mx-5">Prof.Kumar (HOD/ISE)</span>
            <span class="fw-medium mt-1 mx-5">Dr.M.Sudhan(HOD/CSE)</span>
            <span class="fw-medium mt-1 mx-5">Dr Kiran Babu T.S (ASP/ISE)</span>
            <span class="fw-medium mt-1 mx-5">Dr Ambika (ASP/CSE)</span>
        </div>
        <div class="row pt-5" style="text-align: justify; text-justify: inter-word; font-size: 20px;">
            <span class="fs-4 fw-bold" >INTERNATIONAL ADVISORY COMMITTEE</span>
            <p class="mt-3 " >
                <ol class="mx-5">
                    <li>Dr.Meenalosini Vimal Cruz ,M.Sc.,M.Phil.,M.Tech.,Ph.D
                        Department of Information Technology,
                        Allen E. Paulson College of Engineering and Computing,
                        Georgia Southern University,
                        Georgia, USA.</li>
                    <li>Dr.Balaganesh Duraisamy,
                        Faculty of Computer Science & Multimedia, Lincoln University College,
                        Petaling Jaya, Malaysia</li>
                    <li>Prof. Dr. Subarna Shakya,
                        Director, IT Innovation Center, Thirubhuvanam University, Nepal.
                    <li>Dr.Tayseer S Atia,
                        Professor, Department of Computer Engineering, AI Iraqia College of
                        Engineering , Iraq.</li>
                    </ol>
            </p>
        </div>
        <div class="row pt-5" style="text-align: justify; text-justify: inter-word; font-size: 20px;">
            <span class="fs-4 fw-bold">NATIONAL ADVISORY COMMITTEE</span>
            <p class="mt-3 " >
                <ol class="mx-5">
                    <li>Dr. A.Jayachandran, Professor, Department of Computer Science and Engineering,
                        Precedential University.Bangalore.</li>
                    <li>Dr.R.Lakshmi Priya, Assistant Professor, Department of Computer Science, GITUM
                        Deemed to be University, Bangalore.</li>
                    <li>Dr.Revathi , Associate Professor, Department of Computer Science, Einstein College of
                        Engineering, Tirunelveli. Tamilnadu</li>
                    <li>Dr.G.Hariharan , Associate professor , Department of Artificial Intelligence and Machine
                        Learning, Malla Reddy University, Hyderabad, Telangana</li>
                    <li>Dr.S.Athinarayanan,Professor,Department of CSE, Annamacharya Institute of
                        Technology and Sciences-Tirupati.</li>
                    <li>Dr.M.Robinson Joel, AssociateProfessor, Department of Information Technology, Kings
                        Engineering College, Chennai.</li>
                    </ol>
            </p>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-sm-1 d-flex mt-5" style="font-size: 16px;">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../assets/" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Key Speaker</p>
                </div>
              </div>
        </div>
        <div class="col-8" styles="">
            <span class="fs-4 fw-bold">Important Dates</span><br/><br/>
            <span class="fw-medium mt-1 mx-5">Paper submission: 15/04/2023</span><br/>
            <span class="fw-medium mt-1 mx-5">Notification of acceptance: 26/04/2023 – 28/04/2023</span><br/>
            <span class="fw-medium mt-1 mx-5">Camera Ready Paper Submission: 01/05/2023 – 03/05/2023</span><br/>
            <span class="fw-medium mt-1 mx-5">Registration: 02/05/2023</span><br/>
            <span class="fw-medium mt-1 mx-5">Date of Conference 05/05/2023</span><br/>
        </div>
        </div>
        <div class="row mt-5 pt-5">
            <span class="fs-4 fw-bold"  id="A1" >Registration</span>
            <p class="mt-3 " style="text-align: justify; text-justify: inter-word; font-size: 20px;">
                Registered papers will be sent for peer review process before publishing in reputed journals.
            </p>
        </div>
        <div class="row mt-1 pt-5">
            <span class="fs-4 fw-bold text-decoration-underline ">Mode of payment for other college authors: </span>
            <p class="mt-3 " style="text-align: justify; text-justify: inter-word; font-size: 20px;">
                &nbsp;&nbsp;&nbsp;&nbsp;Payment should be taken in favor of <b>“The Principal, MVJ College of Engineering"</b> payable
                through online mode. Send the Soft Copy of your Camera ready paper (.doc format) with the registration
                form and scanned copy of payment details without fail before <b>30 th April 2023</b> to
                <a href="mailto:icaiisconference@gmail.com">icaiisconference@gmail.com</a>. The camera ready paper received after this date will not be considered
                for the proceedings.
            </p>
            <table class="table table-striped mt-5"  style="text-align: justify; text-justify: inter-word; font-size: 20px;">
               <tr>
                <td>1</td>
                <td>For UG and PG Students</td>
                <td rowspan="3" style="vertical-align : middle;text-align:center;">Rs. 8500</td>
               </tr>
               <tr>
                <td>2</td>
                <td>For Research Scholars, Academician</td>
               </tr>
               <tr>
                <td>3</td>
                <td>Industry Delegates
                </td>
               </tr>
               <tr>
                <td>4</td>
                <td>Registration</td>
                <td style="vertical-align : middle;text-align:center;">Rs.500</td>
               </tr>
            </table>
        </div>
        <div class="row pt-5"  style="text-align: justify; text-justify: inter-word; font-size: 20px;">
            <span class="fs-4 fw-bold">Payment Details (Registration/Publication)</span>
            <table class="table table-striped mt-5"  style="text-align: justify; text-justify: inter-word; font-size: 20px;">
                <tr>
                    <td>Account Holder Name</td>
                    <td>PRINCIPAL MVJ COLLEGE OF ENGINEERING</td>
                </tr>
                <tr>
                    <td>Account No</td>
                    <td>00091450000261</td>
                </tr>
                <tr>
                    <td>Type of account</td>
                    <td>Saving bank account</td>
                </tr>
                <tr>
                    <td>Bank Name</td>
                    <td>HDFC BANK Ltd</td>
                </tr>
                <tr>
                    <td>Branch</td>
                    <td>KASTURBA ROAD, BANGALORE</td>
                </tr>
                <tr>
                    <td>IFSC</td>
                    <td>HDFC0000009</td>
                </tr>
                <tr>
                    <td>MICR</td>
                    <td>560240002</td>
                </tr>
            </table>
            <div class="row pt-5">
                <strong>Note:</strong>
                <div class="px-4">
                <ul>
                    <li>One author per selected paper should register to get their paper published in the proceedings.</li>
                    <li>Maximum 10 minutes will be given for oral presentation using power point slides.</li>
                    <li>Certificates will be provided to the author who registered and presented in the Conference.</li>
                </ul>
            </div>
            <div class="row pt-5">
                <strong>Deliverables</strong>
                <div class="px-4">
                <ul>
                    <li>Conference kit</li>
                    <li>Certificate</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div style="background-color: #003865; color: aliceblue; border-radius: 10px;">
        <div class="fs-3 mx-2 pb-3 pt-2  fw-semibold">
            Contact Us
        </div>
        <div class="container p-3 ">
            <div class="row">
            <div class="p-2 col"> 
                <b>Prof.Kumar (HOD/ISE)</b><br/>
                Department of ISE, MVJ College of Engineering,<br/>
                Near ITPB, Channasandra, Kadugodi Post, Bangalore-560067.<br/>
                Email:- hod_ise@mvjce.edu.in<br/>
                Mobile: 9902872764
            
            </div>
            <div class="p-2 col">
                <b>Dr.M.Sudhan(HOD/CSE)</b><br/>
                Department of CSE, MVJ College of Engineering,<br/>
                Near ITPB, Channasandra, Kadugodi Post, Bangalore-560067.<br/>
                Email:- m.bsudhan@mvjce.edu.in<br/>
                Mobile: 9043097225
            </div>
            </div>
            <div class="row">
            <div class="p-2 col">   
                <b>Kiran Babu (ASP/ISE)</b><br/>
                Department of ISE, MVJ College of Engineering,<br/>
                Near ITPB, Channasandra, Kadugodi Post, Bangalore-560067.<br/>
                Email:- kiranbabu@mvjce.edu.in<br/>
                Mobile: 9738548172
            </div>
            <div class="p-2 col">
                <b>Dr Ambika (ASP/CSE)</b><br/>
                Department of CSE, MVJ College of Engineering,<br/>
                Near ITPB, Channasandra, Kadugodi Post, Bangalore-560067.<br/>
                Email:-ambika@mvjce.edu.in<br/>
                Mobile: 9629580572
            </div>
        </div>
    </div>
    </div>
</body>
</html>
